body {
    background-color: #0c0f38;
}

.definitive {
    background-color: #0c0f38;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
font-family: 'Inter', sans-serif;
font-size: 520px;
font-weight: 900;
line-height: 80%;
}

@media only screen and (max-width: 576px) {
    .definitive {
        font-size: 350px;
    }
}

.definitive-small {
    background-color: #0c0f38;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
font-family: 'Inter', sans-serif;
font-size: 25px;
font-weight: 900;
}

h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 85px;
    font-weight: 900;
}

h2 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;

}

h3 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;

}

p {
    color: white;
    font-family: 'Inter', sans-serif;
}

.text-link {
    color: #89f7fe;
}

