body {
    background-color: #f0eee9;

    color: #344033;
}

.hire {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

a {
	color: #344033;
  text-decoration: none !important;
}
a:hover {
	color: #6C757D;
}

h1, h2, h3, h4, h5, h6 {
  color: #344033;
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.demo {
  background-color: #344033;
}

.demo1 {
  background-color: #f0eee9;
}
.card {
  margin: 1em;
}

