body {
    background-color: #0D1117;
    color: #f8f9fa;
}

.navbar .nav-link {
    font-family: 'Poppins', sans-serif;    
    font-size: 14px;
        color: #ccc;
        font-weight: 400;
        letter-spacing: 1px;
    
    }
    
    .navbar .nav-link.active {
        color: #f8f9fa;
    }
    
    .navbar-nav .nav-link:hover {
        color: #f8f9fa;
    
    }

a {
	color: #ccc;
  text-decoration: none !important;
}
a:hover {
	color: #f8f9fa;
}


h1, h2, h3, h4, h5, h6 {
    color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.lead {
    color: #ccc;
}

.bottom {
  background-color: #161b22;
  width: 100%;
}

.name {
    background-color: #161b22;
  }

.foot .border-bottom {
  color: #21262d;
}

.btn-mod.btn-large {
    height: auto;
    padding: 8px 24px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  
  .btn-mod.btn-border {
    color: #ffffff;
    border: 2px solid #0060df;
    background: transparent;
  }
  
  .btn-mod, a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:focus{
    color: #ffffff;
    border-color: transparent;
    background: #0060df;
  }
  
  .btn-mod:hover, .btn-mod:focus, a.btn-mod:hover, a.btn-mod:focus {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(255,255,255, .85);
    background: rgba(0,0,0, .7);
    text-decoration: none;
    outline: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  /* Reveal icon on hover */
  
  a.btn.btn-mod.btn-border.animation-one span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  }
  
  a.btn.btn-mod.btn-border.animation-one span:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
  }
  
  a.btn.btn-mod.btn-border.animation-one:hover span {
  padding-right: 25px;
  }
  
  a.btn.btn-mod.btn-border.animation-one:hover span:after {
  opacity: 1;
  right: 0;
  }
  
  .btn:hover {
    transition: all 0.3s ease;
  }

  .btn-mod1.btn-large {
    height: auto;
    padding: 8px 24px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  
  .btn-mod1.btn-border {
    color: #ffffff;
    border: 2px solid #21262d;
    background: transparent;
  }
  
  .btn-mod1, a.btn-mod1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod1.btn-border:hover, .btn-mod.btn-border:focus{
    color: #ffffff;
    border-color: transparent;
    background: #21262d;
  }
  
  .btn-mod1:hover, .btn-mod:focus, a.btn-mod:hover, a.btn-mod:focus {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(255,255,255, .85);
    background: #21262d;
    text-decoration: none;
    outline: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  /* Reveal icon on hover */
  
  a.btn.btn-mod1.btn-border.animation-one span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  }
  
  a.btn.btn-mod1.btn-border.animation-one span:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
  }
  
  a.btn.btn-mod1.btn-border.animation-one:hover span {
  padding-right: 25px;
  }
  
  a.btn.btn-mod1.btn-border.animation-one:hover span:after {
  opacity: 1;
  right: 0;
  }
  
  .btn:hover {
    transition: all 0.3s ease;
  }

  .btn-mod3.btn-large {
    height: auto;
    padding: 8px 24px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  
  .btn-mod3.btn-border {
    color: #ffffff;
    border: 2px solid #720e9e;
    background: #720e9e;
  }
  
  .btn-mod3, a.btn-mod3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod3.btn-border:hover, .btn-mod3.btn-border:focus{
    color: #ffffff;
    border-color: transparent;
    background: #662f8f;
  }
  
  .btn-mod3:hover, .btn-mod:focus, a.btn-mod:hover, a.btn-mod:focus {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(255,255,255, .85);
    background: #662f8f;
    text-decoration: none;
    outline: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }